/* Home.css */
.carousel .carousel-slider {
    max-width: 100%; /* Garantir que o carrossel não exceda a largura do container */
    margin: auto; /* Centraliza o carrossel horizontalmente */
  }
  
  .carousel .slide img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do slide */
    object-fit: cover; /* Garante que a imagem cubra o slide sem distorção */
  }
  
  h1 {
    text-align: center; /* Centraliza o título */
    margin-top: 20px;
    font-size: 2rem;
  }
  
  header {
    margin-bottom: 20px; /* Adiciona espaço abaixo do cabeçalho */
  }
  